.DS_Store
.atom/
.idea
.packages
.pub/
.vs/
build/
ios/.generated/
packages
pubspec.lock
*.apk
*.keystore
.vscode/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/package_config.json
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
android/app/google-services.json
ios/Flutter/flutter_export_environment.sh
.dart_tool/*
android/app/src/main/java/io/flutter/plugins/*
lib/.license.dart
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugins.cmake
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake
