.DS_Store
.atom/
.idea
.packages
.pub/
build/
ios/.generated/
packages
pubspec.lock
*.apk
*.keystore
.vscode/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/package_config.json
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
