<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="de.susch19.nssl" android:versionCode="40" android:versionName="0.40.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:label="@string/app_name" android:icon="@mipmap/ic_launcher">
        <activity android:name="io.flutter.embedding.android.FlutterActivity" android:launchMode="singleTask" android:theme="@android:style/Theme.Black.NoTitleBar" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection" android:hardwareAccelerated="true" android:windowSoftInputMode="adjustResize" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Deep Links -->
            <!-- For the "add to shoppinglist" button on chefkoch website-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                  android:scheme="https"
                  android:host="api.getbring.com"
                  android:pathPrefix="/rest/bringrecipes/deeplink" />
            </intent-filter>
            <!-- Allow to share urls with nssl -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>

        </activity>
        <meta-data android:name="flutterEmbedding" android:value="2" />
    </application>
</manifest>
